:root{
    --fonte1:var(Verdana, tahoma, sans-serif);
    --fonte2:var(cursive);
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body{
background-color: rgba(169, 169, 169, 0.144);
min-height: 100vh;
font-family: Verdana, Tahoma, sans-serif;
}



header{
    background-color: black;
    color: white;
    
    text-align: center;
   
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: cursive;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    
}

header > p > a {
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: cursive;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;

}

section.imagem1{
    background-image: url(background001.jpg);
    background-position: right center;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.411);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem1 > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow:  1px 1px 0px black;
}

section.imagem2 {
    background-image: url(background002.jpg);
    background-position: left center;
    color: white;
    box-shadow: 1px 1px 0px black;
     box-shadow: 3px 3px 10px black;
}

section.imagem2 > p {
    display: inline-block;
    box-shadow: 1px 1px 0px black;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.411);
    background-color: rgba(0, 0, 0, 0.514);
}

footer {
    padding: 7px;
    background-color: black;
    color: white;
    text-align: center;
}